<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h1>Perfil</h1>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Información:</strong> ¡Tienes cambios realizados, algun cambio
        que no haya sido guardado podría perderse!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ photoUrl }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div>
            <strong>Lugar:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Edad:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Última actividad:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Miembro desde:</strong>
            <p>{{ user.created }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            [disabled]="!editForm.dirty"
            form="editForm"
            class="btn btn-success btn-block"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Editar perfil">
            <form
              #editForm="ngForm"
              id="editForm"
              (ngSubmit)="updateUser()"
              #form="ngForm"
            >
              <h4>Descripción</h4>
              <textarea
                name="introduction"
                rows="6"
                class="form-control"
                [(ngModel)]="user.introduction"
              >
              </textarea>
              <h4>Buscando</h4>
              <textarea
                name="lookingFor"
                rows="6"
                class="form-control"
                [(ngModel)]="user.lookingFor"
              >
              </textarea>
              <h4>Interesés</h4>
              <textarea
                name="interests"
                rows="6"
                class="form-control"
                [(ngModel)]="user.interests"
              >
              </textarea>
              <h4>Detalles de localización:</h4>
              <div class="form-inline">
                <label for="city">Ciudad</label>
                <input
                  class="form-control"
                  type="text"
                  name="city"
                  [(ngModel)]="user.city"
                />
                <label for="country">Pais</label>
                <input
                  class="form-control"
                  type="text"
                  name="country"
                  [(ngModel)]="user.country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Editar Fotos">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
